label:hover{
  color: red;
  margin-left: 10px;
  margin-right: 10px;
 }
 .button{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 20px;
 }
 .button:hover{
  background: red;
 }
 #rate{
   margin-left: 23%;
   zoom: 2;
 }
 #year{
   margin-bottom: 2%;
 }
 ion-checkbox{
  margin-left: 7%;

    border-radius: 0%!important;


  margin-top: 2%;
 }
