<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Vision
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <div class="logoIcon">
  <img src="../../assets/spit_icom.png">
  </div>

  <div>
    <h3 class="headerH3">Our Vison and Mission:</h3>
  <p class="visionMissionPara">
    Keeping in view the growing and changing needs of Industry and society,
    we at S.P.I.T. are committed to creating an environment which will raise the intellectual and moral standards of our students.
    Our endeavor is to strive for the overall development of students,
    thereby enabling them to accept challenges.
    In tune with this our vision is
    to build
  </p>
  <div class="quotePara">A renowned institute which will produce graduate engineers with global competency and social sensitivity.</div>
  <h3 class="headerH3">Start Your Journey with us:</h3>
  <div class="bannerImage">
    <img src="../../assets/banner.jpg">
   </div>
</div>

</ion-content>
